name: Deploy Worker
on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Calculate Hash
        id: calc_hash
        run: |
          # Calculate hash and save it to GH-Action output
          HASH_FILE=$(sha256sum src/index.ts | awk '{ print $1 }')
          echo "SOURCE_HASH=$HASH_FILE" >> $GITHUB_OUTPUT

      - name: Deploy with Wrangler Action
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: deploy --var DEPLOYED_HASH:${{ steps.calc_hash.outputs.source_hash }}
